@model IEnumerable<tryingSystem.Models.TodoItemModel>

    <h2> Your Todo List</h2>

    <a asp-action="Create" class="btn btn-primary">Add New Task</a>
    <table class="table">
        <thead>
            <tr>   
                <th>Title</th>
                <th>Description</th>
                <th>Is Completed</th>
                <th></th>
            </tr>
        </thead>
        <body>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.IsCompleted</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </body>
    </table>